<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carboxtech.studymain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/face"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/face"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rxjava.Test1Activity" />
        <activity android:name=".dagger2.TestDaggerActivity" />
        <activity android:name=".dagger2.Base4.SecondDaggerActivity" />
        <activity android:name=".mvp.MvpTestActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".javabase.JavaThreadTestActivity" />
        <activity android:name=".javabase.JavaBaseTestActivity" />
        <activity android:name=".designmode.DesignModeActivity" />
        <activity android:name=".virtualmachine.VmActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".algorithm.AlgorithmActivity" />
        <activity android:name=".androidBase.AndroidBaseActivity" />
        <activity android:name=".rn.RNActivity"></activity>
    </application>

</manifest>